@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #44361b;
}

#titleImg{
  width: 15%;
  height: 15%;
  align-items: center;
}

#mainTilte{
  color: #d1a348;
  font-weight: bold;
  text-shadow: 2px 2px 4px #666;
  text-align: center;
}

